@tailwind base;
@tailwind components;
@tailwind utilities;

.Div {
    background-color: white;
    border-radius: 25px;
    border: 2px solid white;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
}

.line{
    width: 100%;
    border-bottom: 3px solid #A1C77B;
    margin: 10px 0 20px;
}

.bio{
    float: left;
    background-color: #D9D9D9;
    border: 2px solid white;
    padding: 20px;
    margin-top: 50px;
    height: 320px;
    width: 220px;
}

.button{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

/* textarea{
    float: left;
    background-color: #D9D9D9;
    border: 2px solid white;
    padding: 20px;
    margin-top: 50px;
    height: 320px;
    width: 220px;
    resize: none;
} */
nav.bg-white.border-gray-200.py-2\.5 {
    background-color: rgb(167, 58, 58);
}

div.void {
  width: 350px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-bottom: 10px;
}
div.grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    justify-items: center;
    position: relative;
    margin-bottom: 10px;
  }
  div.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 15px;
    row-gap: 40px;
    justify-items: center;
    position: relative;
    margin-bottom: 10px;
  }

div.content {
    color: #242424;
    background-color: #f25fff;

    box-sizing: border-box;
    width: 200px;
    text-align: center;

    padding: 10px;
    margin-bottom: 10px;
  }
h3.text-5xl{
  color: #924c4c;
  background-color: #ece2e2;
}
/* h4 {
  background-color: aqua;
  color: black;
} */

#name-show{
    display: flex;
    position: absolute;
    top: 142px;
    left: 420px;
    padding: 10px;
}
#year-show{
    display: flex;
    position: absolute;
    top: 218px;
    left: 420px;
    padding: 10px;
}
#faculty-show{
    display: flex;
    position: absolute;
    top: 290px;
    left: 420px;
    padding: 10px;
}
#email-show{
    display: flex;
    position: absolute;
    top: 365px;
    left: 420px;
    padding: 10px;
}
#tel-show{
    display: flex;
    position: absolute;
    top: 440px;
    left: 420px;
    padding: 10px;
}
#line-show{
    display: flex;
    position: absolute;
    top: 510px;
    left: 420px;
    padding: 10px;
}
#fb-show{
    display: flex;
    position: absolute;
    top: 585px;
    left: 420px;
    padding: 10px;
}
#ig-show{
    display: flex;
    position: absolute;
    top: 660px;
    left: 420px;
    padding: 10px;
}
Div h1{
    /* border: 1px solid red; */
} 
